{% extends "layout.html" %}

{% block content %}
  <table style="width:100%;">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Address</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    {% for user in app.users %}
    <tr style="border:1px solid black">
      <td>{{user['name']}}</td>
      <td>{{user['surname']}}</td>
      <td>{{user['email']}}</td>
      <td>{{user['address']}}</td>
      {% if user['status'] == true %}
      <td style="color:green; font-weight:bold;">o</td>
      {% else %}
      <td style="color:red; font-weight:bold;">o</td>
      {% endif %}
      <td><button class="addRdv" id="{{user['id']}}">Add rdv</button></td>
    </tr>
    {% endfor %}
  </table>

  <div id="rdvModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form method="POST">
          <input type="text" name="label" id="labelForm">
          <button class="btn btn-primary" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(".addRdv").click(function(){
      $('#rdvModal').modal('show')
    });
  </script>
{% endblock %}
