{% extends "layout.html" %}

{% block content %}
  <table style="width:100%;">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Address</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    {% for user in app.users %}
    <tr style="border:1px solid black">
      <td>{{user['name']}}</td>
      <td>{{user['surname']}}</td>
      <td>{{user['email']}}</td>
      <td>{{user['address']}}</td>
      {% if user['status'] == true %}
      <td style="color:green; font-weight:bold;">o</td>
      {% else %}
      <td style="color:red; font-weight:bold;">o</td>
      {% endif %}
      <td><button class="addRdv" id="addRdv{{user['id']}}">Add rdv</button></td>
    </tr>
    {% endfor %}
  </table>
  <script>
    $(".addRdv").click(function(){
      alert(this.attr('id'));
    });
  </script>
{% endblock %}
